.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  gap: 30px;
  padding-top: 50px; /* Tambahkan ini */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    background-position-x: center;
    background-size: cover;
    z-index: 0;
}
@keyframes animateBg {
    0%,100%
    {
        transform:scale(1);
    }
    50%
    {
        transform:scale(1.2);
    }
}
span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 3s linear infinite;
    z-index: 0;
}
span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
    
}
span:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

span:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

span:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

span:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

span:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

span:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
span:nth-child(7 ){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

span:nth-child(8){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

span:nth-child(9){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

span:nth-child(10){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}

.judul {
  display: flex;
  flex-direction: column; /* biar ke bawah */
  align-items: center;
  text-align: center;
  margin-top: 5%;
  gap: 10px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin: auto; /* biar tetep center */
  position: relative;
  z-index: 12;
}

.judul h1 h3 {
  font-size: 2.5rem;
  z-index: 12;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  z-index: 10;
  gap: 10px;
}

.nav-menu-box {
  /* Style untuk kotak itu sendiri */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  background-color: rgb(45, 45, 45); /* warna background nyatu */
  margin-top: 10%;
  block-size: auto;
  margin: auto;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: fit-content;
  gap: 50px;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 10;
}

/* Styling untuk container menu navigasi */
.nav-menu-container {
  z-index: 2; /* Pastikan ini di atas background animasi */
}

.btn {
  background:var(--accent);
  position: relative;
  color:#fff; /* biar teks putih */
  text-decoration:none; /* ilangin underline kalau itu <a> */
  border:none;
  padding:10px 16px;
  border-radius:8px;
  cursor:pointer;
  font-weight: 600px;
  text-align: center;
  font-size:17px;
  z-index: 12;
}

.btn:hover{
  background: #000000; /* warna hover */
  color: #fff; /* tetep putih */
}

.bottom {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(45, 45, 45);; /* warna background nyatu */
  block-size: auto;
  margin: auto;
  padding: 15px 30px;
  border-radius: 10px;
  max-width: fit-content;
  gap: 6px;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 350px;
  z-index: 10;
}

/* Styling untuk container sosial media */
.bottom-container {
  z-index: 2; /* Pastikan ini di atas background animasi */
  margin-bottom: 10%;
}
